.containerHome {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";

  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
}

.titulo {
    font-weight: 700;
    font-size: 70px
}

.imgHome {
    padding-left: 100px;
    margin: 100px;
    width: 480px;
    height: 640px ;
}

.ladoIzquierdo {
    margin: 100px;
}
.botonHome
{
 margin-top: 40px;
 width: 163px;
 height: 56px;
 color: white;
 background-color: black ;
 border: solid;
 border-radius: 30px;
}


.listaIcono {
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}